**/.DS_Store

# Ignore common dotnet files
bin/
obj/

# Ignore common go files
go.mod
go.sum

# Ignore common Java files
.idea/
*.iml
target/

# Ignore common Python files
**/venv
**/.DS_Store
**/__pycache__/**
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/

# Ignore common JS files
node_modules

# Ignore AWS Influx migration script backup and performance files and directories
tools/python/influx-migration/**/performance.txt
tools/python/influx-migration/**/*influxdb-backup-*
