# Timestream configuration
TIMESTREAM_DATABASE_NAME=benchmark
TIMESTREAM_TABLE_NAME=cpu

# Athena configuration
ATHENA_DATABASE_NAME=default
ATHENA_TABLE_NAME=benchmark_cpu
ATHENA_OUTPUT=s3://bucket_name

# InfluxDB configuration
INFLUXDB_V2_URL=https://example.com:8086
INFLUXDB_V2_TOKEN=your_token_here
INFLUXDB_V2_ORG=organization
INFLUXDB_V2_BUCKET=benchmark-bucket
INFLUXDB_V2_MEASUREMENT=cpu

# Validation parameters
SOURCE_ENGINE=athena
# SCHEMA_TAGS=dimension1,dimension2
# START_TIME=2024-08-01T00:00:00Z
# END_TIME=2024-08-02T00:00:00Z
# POLL_METRICS_INTERVAL=30
