ENGINE=athena

# Athena configuration
ATHENA_DB=default
ATHENA_TABLE=benchmark
ATHENA_OUTPUT=s3://influx-migration/athena-query-results/

# Timestream configuration
TIMESTREAM_DB=benchmark
TIMESTREAM_TABLE=cpu

# InfluxDB configuration
INFLUX_URL=https://example.com:8086
INFLUX_TOKEN=your_token_here
INFLUX_ORG=my-org
INFLUX_BUCKET=bucket3
INFLUX_MEASUREMENT=cpu

# Optional parameters
SCHEMA_TAGS=service_environment,os,arch
START_TIME=2024-08-01T00:00:00Z
END_TIME=2024-08-02T00:00:00Z
POLL_METRICS_INTERVAL=30
